<h1>Tropical Cyclone</h1>
<p>A tropical cyclone is near you. Press RIGHT for more information</p>
<div class="navigation-button-left" class="navigation-buttons">OK</div>
<div class="navigation-button-right" class="navigation-buttons">Cancel</div>
