<div>
<div><img class="notification-symbol" src="http://placehold.it/40x40" />Fire</div>
<div><img class="notification-symbol" src="http://placehold.it/40x40" />2 mins ago</div>
<div><img class="notification-symbol"src="http://placehold.it/40x40" />High</div>
<div class="notification-direction">More Info (Press)</div>
</div>
