<div>
<div><img class="notification-symbol" src="http://placehold.it/40x40" />{{type}}</div>
<div><img class="notification-symbol" src="http://placehold.it/40x40" />XXX2 mins ago</div>
<div><img class="notification-symbol"src="http://placehold.it/40x40" />{{severity}}</div>
<div class="notification-direction">More Info (Press)</div>
</div>
