<div>
<div><img class="notification-symbol" src="/images/{{type}}.png" />{{type}}</div>
<div><img class="notification-symbol" src="/images/time1.png" />2 mins ago</div>
<div><img class="notification-symbol"src="/images/risk.png" />{{severity}}</div>
<div class="notification-direction">More Info (Press)</div>
</div>
