<div class="alert-details">
<h1 class="type">{{type}}</h1>
<h2 class="location">{{location}}</h2>
<p class="action">{{action}}</p>
<div class="button-read">Read More (Press DOWN)</div>
<p class="description">{{description}}</p>
<div class="button-read">Press any button to exit</div>
</div>