.notification {
  background-color: black;
  color: white;
  position: absolute;
  height: 180px;
  width: 180px;
  top: 20px;
  left: 30px;
  opacity: 0.9;
  z-index: 100;
  padding: 10px;
}

.weatherNotification {
  background-color: #000000;
  color: white;
  position: absolute;
  width: 160px;
  top: 20px;
  left: 30px;
  font-size: 19px;
  z-index: 100;
  padding: 0px 20px 20px 20px;
}

.floodNotification {
  background-color: #6699CC;
}

.fireNotification {
  background-color: #D49090;
}

.heatNotification {
  background-color: #FFFB00;
}

.notification-message-display {
  height: 70%;
}

.navigation-button-right {
  cursor: pointer;
  float:right;
}

.navigation-button-left {
  cursor: pointer;
  float:left;
}
