.notification {
  background-color: black;
  color: white;
  position: absolute;
  height: 180px;
  width: 180px;
  top: 20px;
  left: 30px;
  opacity: 0.9;
  z-index: 100;
  padding: 10px;
  border-radius: 8px;
}

@mixin weatherNotification() {
  color: white;
  position: absolute;
  width: 160px;
  top: 10px;
  left: 30px;
  font-size: 19px;
  z-index: 100;
  padding: 20px 20px 10px 20px;
  border-radius: 8px;
  margin-top: 15px;
}

.notification-symbol{
  padding: 5px;
}

.notification-direction{
  border-radius: 8px;
  background-color: black;
  text-align: center;
  margin-top: 9px;
  padding: 5px;
  color: white;
}

.floodNotification {
  @include weatherNotification();
  background-color: #006573;
}

.fireNotification {
  @include weatherNotification();
  background-color: #730303;
}

.stormNotification {
  @include weatherNotification();
  background-color: #0a3140;
}

.cycloneNotification {
  @include weatherNotification();
  background-color: #44444D;
}

.notification-message-display {
  height: 70%;
}

.navigation-button-right {
  cursor: pointer;
  float:right;
}

.navigation-button-left {
  cursor: pointer;
  float:left;
}
